#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0;
    margin-bottom: 10px;
    font-size: 18px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3)
}

.friends-screen {
    padding: 0px var(--horizontal_space);
}

.friends-screen__chanel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.friends-screen__chanel__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.5);
}