#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 18px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3)
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}

.friends-screen__chanel {
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}

.friends-screen__chanel__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey);
}

.user-component__column:last-child {
    color: var(--grey);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;   
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
    
}

#splash-screen {
    background-color: var(--skyblue);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.822);
    animation: hideSplashScreen 1s ease-in-out forwards;
}