.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: 600;
    z-index: 1;
}

.dot {
    position: absolute;
    left: 95px;
    bottom: 17px;
    background-color: tomato;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.dot-more {
    position: absolute;
    left: 145px;
    bottom: 17px;
    background-color: tomato;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}