.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(156, 156, 156, 0.3)
}

.nav__ul {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 20px;
    bottom: 15px;
}